@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo ao CadWeb IEL</h1>
    <p>Aplicação responsável por manter o cadastro de estudantes do IEL.</p>
</div>
